<h1 class="text-8xl font-normal leading-none text-center text-transparent break-words bg-clip-text bg-gradient-to-r from-red-500 to-green-500 font-heading">
  <% unless @error %>
    <span class="block text-6xl italic font-bold text-yellow-500"><%= @user.login %></span>
  <% end %>
  GitHub Stats
</h1>
<% if @error %>
  <div class="p-4 my-4 text-center bg-red-700 border-2 border-red-800">
    <h2 class="m-0"><%= @error[:title] %></h2>
    <p class="m-0"><%= @error[:message] %></p>
  </div>
<% else %>
  <div>
    <h3>Stars</h3>
    <p><%= @stars %></p>
  </div>
  <h3><%= @user.public_repos %> Public Repositories</h3>
  <ul>
    <% @repos.each do |repo| %>
      <li class="mb-6">
        <a href="<%= repo.html_url %>" class="text-lg no-underline hover:underline">
          <%= repo.name %> <%= repo.fork ? "(forked)" : "" %>
        </a><br/>
        <%= repo.description %>
      </li>
    <% end %>
  </ul>
<% end %>
